<nav class="nav nav-pills">
    <a class="nav-link" routerLink="home" routerLinkActive="active" >Home</a>
    <a class="nav-link" routerLink="product" routerLinkActive="active" *ngIf="auth.loggedIn">Product</a>
    <a class="nav-link" routerLink="shop" routerLinkActive="active" *ngIf="auth.loggedIn">Shop</a>
    <a class="nav-link" routerLink="discount" routerLinkActive="active" *ngIf="auth.loggedIn">Discount</a>
    <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!auth.loggedIn">Login</a>
    <a class="nav-link" (click)="logout()" href="#" *ngIf="auth.loggedIn">Logout</a>
</nav>
