<div class="row">
    <div class="col-12 my-1">
        <button (click)="editInProc = !editInProc" *ngIf="!editInProc">Add New</button>
        <button (click)="change()" *ngIf="!editInProc" >Change</button>
        <button (click)="deleteSelectedRows()" *ngIf="!editInProc" [disabled]="!rowsSelected()">Delete Selected Row</button>
    </div>
</div>
<div class="row" *ngIf="!editInProc">
    <div class="col-12">
        <ag-grid-angular
            #agGrid
            style="height: 500px;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            rowSelection='single'
            (gridReady)="OnGridReady($event)"
            
        >
        </ag-grid-angular>
    </div>
</div>
<div class="row" *ngIf="editInProc">
    <div class="col-12 popup">
        <div class="edit-panel-shop">
            <app-new-shop *ngIf="editInProc" (onShopSaved)="onShopSaved($event)" [shop]="shopBeingEdited"></app-new-shop>  
        </div>
        <div class="overlay"></div>    
    </div>
    
</div>