<div class="row">
    <div class="col-12 my-1">
        <button (click)="isAddNew = !isAddNew" *ngIf="!isAddNew">Add New</button>
        <button (click)="change()" *ngIf="!isAddNew" >Change</button>
        <button (click)="delete()" *ngIf="!isAddNew" >Delete</button>
    </div>
</div>
<div class="row" *ngIf="!isAddNew">
    <div class="col-12">
        <ag-grid-angular
            #agGrid
            style="height: 500px;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            rowSelection='single'
            (gridReady)="OnGridReady($event)"
            
        >
        </ag-grid-angular>
    </div>
</div>
<div class="row" *ngIf="isAddNew">
    <div class="col-12">
        <app-new-shop *ngIf="isAddNew" (onChanged)="onChanged($event)" [(shop)]="selectedShop" ></app-new-shop>      
    </div>
</div>