  <h4 *ngIf="error">{{error}}</h4>
  <form (ngSubmit)="submit()">
    <div class="row">
      <div class="form-group col-12">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="username " value="Roma" />
      </div>
    </div> 
    <div class="row">
      <div class="form-group col-12">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="password" value="asdvcbcvb"  />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </div>
  </form>