<p>new-shop works!</p>
<div class="row">
    <div class="form-group col-12">
        <label >Shop Name: {{shop.name}}</label>
        <input type="text" class="form-control" [(ngModel)]="shop.name" />
    </div>
</div>
<div class="row">
    <div class="form-group col-12">
        <label >Shop Url</label>
        <input type="text" class="form-control" [(ngModel)]="shop.shopURL" />
    </div>
</div>
<div class="row">
    <div class="form-group col-12">
        <label >Shop jurAdress</label>
        <input type="text" class="form-control" [(ngModel)]="shop.jurAdress" />
    </div>
</div>
<div class="row">
    <div class="form-group col-12">
        <label >IS Chain:</label>
        <input type="checkbox" [(ngModel)]="shop.isChain" />
    </div> 
</div>
<div class="row">
    <div class="col-6">
        <button (click)="save()">Save</button>
    </div>
    <div class="col-6">
        <button (click)="cancel()">Cancel</button>
    </div>   
</div>